@model SeaweedChat.Models.ChatModel;

@{
    ViewData["Title"] = "Messages";
}

<div class="messanger">
    <div class="chat-list">
        <div class="chat-search-box form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
        </div>

        @foreach (var preview in Model.ChatPreviews)
        {
            <div class="chat-preview">
                <p>@preview.Text</p>
            </div>
        }
    </div>
    <div class="message-box">
        <div class="message-box-header">
            <a>@Model.Title</a>
        </div>
        <div class="message">
            @foreach (var message in Model.Messages)
            {
                <div class="message-author">@message.Owner.Username</div>
                <div class="message-body">@message.Text</div>
            }

        </div>
        <div class="message-box-footer mt-auto">
            <div class="input-group">
                <input id="message-text-area" type="text" class="form-control" placeholder="Message">
                <div class="input-group-append">
                    <button onclick="messageSend" id="message-send-btn" class="btn btn-primary" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    <script>
        function messageSend() {
            let formData = new FormData();
            formData.append("PeerId", @Model.Id,);
            formData.append("Text", $("#message-text-area").val());

            $("#message-text-area").val("");

            fetch("@Url.Action("SendMessage", "Messages")", {
                method: "POST",
                body: formData
            });
        };

        $("#message-text-area").keypress(e => {
            let enterIsPressed = e.keyCode === 13;
            if (enterIsPressed)
                messageSend();
        });
    </script>
}

@section Styles
{
    <link rel="stylesheet" href="~/css/chat.css" />
} 